
.contact-container {
	width: 100%;
	overflow-x: hidden;
	height: 100%;
	background-color: white;
}

p {
	margin-top: 0px;
}

.info {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	width: 100%;
	background-color: white;

}

.info a {
	color: black;
}

.info-label {
	padding: 28px;

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.info-text {
	border-bottom: 1px solid black;
	margin-left: 10px;
	padding-top: 28px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
}

.info-column-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 14px;
}

.info-column {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
}

.info-spacer {
	border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {

	.contact {
		overflow: hidden;
	}

	.about {
		overflow-y: auto;
		margin-bottom: 200px;
		padding-right: 28px;
	}

	.info-label-about {
		margin-bottom: 13px;
	}

	.info {
		grid-template-columns: 1fr;
		max-height: 100vh;
	}

	.info-column-container {
		grid-template-columns: 1fr;
	}
	.info-spacer {
		display: none;
	}

	.info-text {
		margin-left: 28px;
		padding-bottom: 28px;
	}

	.info-column {
		padding-top: 15px;
		font-size: 20px;
		border-bottom: 1px solid black;
		margin-bottom: 20px;
	}

	.info-text {
		padding: 0px;
	}

	.info-label {
		padding-bottom: 0px;
	}
}


@media screen and (min-width: 600px) and (max-width: 980px) {
	.info {
		grid-template-columns: 1fr 3fr;
	}
	.info-column-container {
		grid-template-columns: 1fr 1fr 1fr;
		
	}

	.info-spacer {
		display: none;
	}
}