header {
	font-size: 16px;
	display: flex;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

.nav-home {
	/* color: white; */
	margin-left: 28px;
	width: 200px;
	border-bottom: 1px solid black;
	padding-top: 15px;
	
}

.menu {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 0 20px;
}

a {
	text-decoration: none;
}
