.hero-container {
	background-size: cover;
	width: 100%;
	color: white;
	display: flex;
	height: 60vh;
}

.hero-caption {
	align-self: flex-end;
	line-height: 24px;
	font-size: 20px;
	padding: 20px;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
