.home-parent {
	background-color: black;
	display: flex;
}

.home-container {
	margin-left: 50px;
	max-height: calc(100vh - 150px);
	background-color: black;
	overflow: auto;
	padding-bottom: 150px;
	border-bottom: 29px solid white;
	flex: 1;
}

.home-image {
	max-width: 900px;
	padding-bottom: 10px;
}
