.home-footer {
	border-top: 29px solid white;

	padding-top: 80px;
	margin-left: 126px;

	/* TODO get real number */
	height: 147px;

	color: white;
	background-color: black;
	width: 100%;
}

footer a {
	color: white;
}

.footer-row {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 5px;
}

.footer-spacer {}
