.footer-blackbg {
	color: white;
	background-color: black;
}

.footer-whitebg {
	color: black;
	background-color: white;
}


.footer-home {
	/* TODO get real number */
	max-height: 100px;

	width: 100%;
	position: fixed;
	bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-whitebg a {
	color: black;
}

.footer-blackbg a {
	color: white;
}



.footer-column {
	padding: 5px;
	height: 100%;
}


@media screen and (max-width: 600px) {
	.footer-home {
	}
	.footer-row {
		grid-template-columns: 1fr 0fr 1fr;
	}

	.footer-email, .footer-spacer {
		display: none;
	}

	.footer-column {

	}


	
}


