@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../HelveticaNeueBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.spike {
	position: absolute;
	width: 734px;
	height: 305px;
	left: 51px;
	top: 14px;
	
	font-family: 'HelveticaNeueBold';
	font-style: normal;
	font-weight: 700;
	font-size: 250px;
	line-height: 305px;
	letter-spacing: -0.06em;
	/* color: white; */
}
