.work-container {
	width: 100%;
}

.work-text-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;

	border-bottom: 1px solid black;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
}

.work-description {

}

.work-description-title {
	padding-left: 40%;
}

.work-services {

}