.work-footer {
	background-color: black;
	color: white;
	height: 79px;
	display: flex;
	align-items: center;
	padding-left: 30px;
}

.work-footer > a {
	color: white;
	margin-left: 28px;
	font-size: 14px;
	padding-right: 100px;
}