.work-container {
	width: 100%;
}

.work-text-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 50px;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
	margin-left: 100px;
	padding-bottom: 30px;
	border-top: 29px solid black;
	padding-top: 30px;
}
